/* =========================== RESET CSS =========================== */
html{ font-size: 90%; transition: 0.2s; --default_font_std: 'Montserrat', sans-serif;--default_font_title:'Raleway', sans-serif}
*{ margin: 0px; padding: 0px; font-family: var(--default_font_std)}
ul{ list-style: none; }
p{ font-size: 1rem; line-height: 1.5em; }
h1{ font-family: var(--default_font_std); font-size: 3.125rem; line-height: 3.125rem; }
h2{ font-family: var(--default_font_std); font-size: 2.5rem; line-height: 2.5rem; }
h3{ font-family: var(--default_font_std); font-size: 2rem; line-height: 2.1rem; }
body{padding:0px; margin:0px;--invisible:rgba(0,0,0,0);}
button{border: none;padding: 1em;}
/* ================================================================= */

/* CHANGE CDN FONTS TO LOCAL !!!!!!!!!!!! */

:root{
    --bg_white:#FFFFFF;
    --bg_orange:#FD7E37;
    --bg_dark_grey:#707070;
    --bg_grey:#00000080;
    --bg_light_grey:#00000029;
    --bg_dark_brown:#331100;
    --bg_brown:#663014;
}

/* ======== CONTAINER ======== */
.container{
    display: grid;
    grid-template-columns: 2% minmax(96%,79.75em) 2%;
}
    .to_center{
        grid-column:2;
        /* max-width: 79.75em; */
        min-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
/* HAMBURGER */
#hamburger_btn{
    display: flex;
}
    .menu_open{
        display: flex;   
    }
    .to_column{
        flex-direction: column;
    }
@media screen and (min-width:90rem) {
    .to_center{
        place-self: center;
    }
}
/* 1800px */
@media screen and (min-width:112.5em){
    .container{
        grid-template-columns: auto minmax(20em,90em) auto;
    }
}
/* 1920px */
@media screen and (min-width: 120em) {
    .container{
        grid-template-columns: auto minmax(auto,1276px) auto;
    }
}
/* ======== HEADER ======== */
header{
    grid-column: 1/4;
    background-color: var(--bg_orange);
}
    .header_title_site{
        text-decoration: none;
        font-size: 3em;
        font-weight: bold;
        color: var(--bg_white);
    }
        .header_list_items{
            /* padding: 1em 1em; */
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
            .header_nav{
                display: none;
            }
                .header_nav_open{
                    display: flex;
                    flex-direction: column;
                }
            .header_nav_list{
                display: flex;
                flex-direction: column;
            }
                .header_nav_link{
                    font-size: 1.25em;
                    font-weight: 600;
                    font-family: var(--default_font_std);
                    cursor: pointer;
                    padding: 0.6em 1.25em;
                    color: var(--bg_white);
                    background-color: var(--invisible);
                    text-decoration: none;
                }
                .header_nav_link:hover,.header_nav_link:focus{
                    color: var(--bg_orange);
                    background-color: var(--bg_white);
                }
/* 1000PX */
@media screen and (min-width:62.5rem) {
    .header_nav_list{
        display: flex;
        flex-direction: row;
    }
    .to_center{
        flex-direction: row;
    }
}
/* ======== FOOTER ======== */
footer{
    grid-column: 1/4;
    background-color:var(--bg_orange);
    color: var(--bg_white);
}
    footer a {
        color: var(--bg_white);
        text-decoration: none;
    }
    .content_footer{
        grid-column: 2;
        width: 100%;
        padding: 2.2em 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .list_adress{
            display: flex;
            flex-direction: column;
            text-align: center;
        }   
            .item_list_adress{
                margin: 0.5em 0px;
            }
        .list_mention{
            margin: 2em 0em;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-content: center;
            align-items: center;
            text-align: center;
        }
            .list_mention_link{
                margin: 0.6em;
                color: var(--bg_white);
            }
        .list_social{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 0.8em;
        }
            .item_list_social{
                place-self: center;
            }

/*  1024px */
@media screen and (min-width:64rem){
    .content_footer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
        .container_list_adress{
            grid-row: 1/3;
        }
            .list_adress{
                text-align: left;
            }
        .list_social{
            grid-column: 2;
        }
}

/* 1200px */
@media screen and (min-width:75rem){
    #hamburger_btn{
        display: none;
    }
    .header_nav{
        display: flex;
    }
}
/*  1440px */
@media screen and (min-width:90rem) {
    .content_footer{
        grid-column: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


/* 
687 
    260  37.84%

    48
*/


/* card */
.card{
    overflow: hidden;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 0px 48px #00000029;
    margin: 1em 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
    .main_img_card{
        width: 100%;
        height: 100%;
        max-height: 16.25em;
        object-fit: cover;
    }
    .card_space{
        padding: 3.46%;
    }
    .date_card_spe{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        .date_icon_card{
            margin: 0.3em; 
        }
            .link_card_next{
                padding: 0.625em 0px;
                width: 100%;
                background-color: var(--bg_orange);
                display: flex;
                justify-content: center;
                color: var(--bg_white);
            }
            .link_card_next:hover,.link_card_next:focus{
                animation: pulse 1s infinite;
            }
            @keyframes pulse{
                from{
                    
                }to{
                    color: black;
                }
            }
                .icon_link_card{
                    display: block;
                    margin: 0px 1em;
                }

/* SLIDER */
.container_contain{
    max-width: 100%;
    grid-column: 2;
}
    .control{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        .dots,.left_slide,.right_slide{
            margin: 0.625em;
            height: 1.875em;
            width: 1.875em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.3em;
            color:var(--bg_orange);
            background-color: var(--invisible);
            border:solid var(--bg_orange) 1px;
        }
        .dots:focus,.dots:hover,.left_slide:hover,.left_slide:focus,.right_slide:hover,.right_slide:focus{
            background-color: var(--bg_orange);
            color: var(--bg_white);
        }
    .transi{
        animation: slide 1s;
        z-index: -9;
    }
@keyframes slide {
    from{

    }30%{
        transform: rotateY(90deg);
    }to{
        transform: rotateY(0deg);
    }
}
@media screen and (min-width:48rem) {
    .card{
        text-align: left;
        place-self: center;
        align-items: flex-start;
        max-width: 70%;
    }
}

@media screen and (min-width:64rem) {
    .card{

        max-width: 100%;
        height: 100%;
    }
}


/* CARD */
.list_cards_actu{
    padding: 0.5em;
    display: grid;
}
/*  768px */
@media screen and (min-width:48rem) {
    .list_cards_actu{
        grid-template-columns: repeat(2,1fr);
        /* gap: 2e  m; */
    }
}
/*  1024px */
@media screen and (min-width:64rem) {
    .list_cards_actu{
        grid-template-columns: repeat(3,1fr);
        gap: 2em;
    }
}

