main{
    grid-column: 2;
}
.container_cards{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}




/* ===== MEDIA SCREEN ===== */
/*  320px */
@media screen and (min-width:20rem) {

}
/*  375px */
@media screen and (min-width:23.43rem) {

}
/*  425px */
@media screen and (min-width:26.56rem) {

}
/*  768px */
@media screen and (min-width:48rem) {

}
/*  1024px */
@media screen and (min-width:64rem) {

}
/*  1440px */
@media screen and (min-width:90rem) {

}
/*  2560px */
@media screen and (min-width:160rem) {

}