<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/actu/actu.css">
<title>Document</title>
</head>
<body class="container">
    <!-- ======== HEADER ======== -->
    <header class="container">
       
    </header>
    <main>
        <section>
            <h1>Nous Contacter</h1>
            <form action="/views/contact.html" method="POST">
                <label for="input_name">
                    Votre nom
                    <input type="text" id="input_name" name="nom" placeholder="Entrez votre nom">
                </label>
                <label for="input_email">
                    Votre e-mail
                    <input type="text" id="input_email" name="email" placeholder="Entrez votre adresse e-mail">
                </label>
                <label for="text_area_message">
                    Votre message
                    <textarea name="" id="text_area_message" name="message" placeholder="Tapez votre message"></textarea>
                </label>
            </form>
            <button type="submit">Envoyer<img src="/assets/home/icon/right_circle.svg" alt="icon flèche"></button>
        </section>
    </main>
    <!-- ======== FOOTER ======== -->
    <footer class="container">

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script type="module" src="../js/template.mjs"></script>
</body>
</html>