<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/formation/formation.css">
<title>Formations</title>
</head>
<body class="container">
    <!-- ======== HEADER ======== -->
    <header class="container">

    </header>
    <main class="container">
        <section class="section_formation">
            <article>
                <h1>La Formation</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae ultricies leo integer malesuada. Ac odio tempor orci dapibus ultrices in. Egestas diam in arcu cursus euismod. Dictum fusce ut placerat orci nulla. Tincidunt ornare massa eget egestas purus viverra accumsan in nisl. Tempor id eu nisl nunc mi ipsum faucibus. Fusce id velit ut tortor pretium. Massa ultricies mi quis hendrerit dolor magna eget. Nullam eget felis eget</p>
            </article>
            <ul class="list_card">
                <li class="card">
                    <img src="../assets/home/picture/Code_bottom.png" src="../assets/home/picture/Code_bottom_2x.png 2x" alt="photo de lignes de code">
                    <h3 class="card_space">Module HTML/CSS</h3>
                    <p class="card_space">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, labore similique! Quo sequi, tempore repudiandae officiis assumenda delectus, eveniet nisi fugit perspiciatis esse vitae adipisci, facere quam odit. Magni, quibusdam.</p>
                    <a href="" class="link_card_next">Lire la suite <img class="icon_link_card" src="../assets/home/icon/right_circle.svg" alt="flèche vers la droite"></a>
                </li>
                <li class="card">
                    <img src="../assets/home/picture/Keyboard_bottom.png" src="../assets/home/picture/Keyboard_bottom_2x.png 2x" alt="photo d'un clavier d'ordinateur">
                    <h3 class="card_space">Module JavaScript</h3>
                    <p class="card_space">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, labore similique! Quo sequi, tempore repudiandae officiis assumenda delectus, eveniet nisi fugit perspiciatis esse vitae adipisci, facere quam odit. Magni, quibusdam.</p>
                    <a href="" class="link_card_next">Lire la suite <img class="icon_link_card" src="../assets/home/icon/right_circle.svg" alt="flèche vers la droite"></a>
                </li>
                <li class="card">
                    <img src="../assets/home/picture/Code_bottom.png" src="../assets/home/picture/Code_bottom_2x.png 2x" alt="photo de lignes de code">
                    <h3 class="card_space">Module HTML/CSS</h3>
                    <p class="card_space">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, labore similique! Quo sequi, tempore repudiandae officiis assumenda delectus, eveniet nisi fugit perspiciatis esse vitae adipisci, facere quam odit. Magni, quibusdam.</p>
                    <a href="" class="link_card_next">Lire la suite <img class="icon_link_card" src="../assets/home/icon/right_circle.svg" alt="flèche vers la droite"></a>
                </li>
                <li class="card">
                    <img src="../assets/home/picture/Keyboard_bottom.png" src="../assets/home/picture/Keyboard_bottom_2x.png 2x" alt="photo d'un clavier d'ordinateur">
                    <h3 class="card_space">Module JavaScript</h3>
                    <p class="card_space">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, labore similique! Quo sequi, tempore repudiandae officiis assumenda delectus, eveniet nisi fugit perspiciatis esse vitae adipisci, facere quam odit. Magni, quibusdam.</p>
                    <a href="" class="link_card_next">Lire la suite <img class="icon_link_card" src="../assets/home/icon/right_circle.svg" alt="flèche vers la droite"></a>
                </li>
                <li class="card">
                    <img src="../assets/home/picture/Code_bottom.png" src="../assets/home/picture/Code_bottom_2x.png 2x" alt="photo de lignes de code">
                    <h3 class="card_space">Module HTML/CSS</h3>
                    <p class="card_space">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, labore similique! Quo sequi, tempore repudiandae officiis assumenda delectus, eveniet nisi fugit perspiciatis esse vitae adipisci, facere quam odit. Magni, quibusdam.</p>
                    <a href="" class="link_card_next">Lire la suite <img class="icon_link_card" src="../assets/home/icon/right_circle.svg" alt="flèche vers la droite"></a>
                </li>
                <li class="card">
                    <img src="../assets/home/picture/Keyboard_bottom.png" src="../assets/home/picture/Keyboard_bottom_2x.png 2x" alt="photo d'un clavier d'ordinateur">
                    <h3 class="card_space">Module JavaScript</h3>
                    <p class="card_space">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, labore similique! Quo sequi, tempore repudiandae officiis assumenda delectus, eveniet nisi fugit perspiciatis esse vitae adipisci, facere quam odit. Magni, quibusdam.</p>
                    <a href="" class="link_card_next">Lire la suite <img class="icon_link_card" src="../assets/home/icon/right_circle.svg" alt="flèche vers la droite"></a>
                </li>
            </ul>
        </section>
    </main>
    <!-- ======== FOOTER ======== -->
    <footer class="container">
      
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/js/template.mjs"></script>
</body> 
</html>