<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="../css/reset.css">
<title>Document</title>
</head>
<body class="container">
    <!-- ======== HEADER ======== -->
    <header class="container">
        <div class="to_center">
            <p class="header_title_site">DWWM</p>
            <nav class="header_nav">
                <button class="btn_menu_header"><img src="../assets/home/icon/date.svg" alt="hamburger menu" aria-expanded="false"></button>
                <ul class="header_nav_list">
                    <li class="header_list_items">
                        <a class="header_nav_link" href="/">
                            ACCUEIL
                        </a>
                    </li>
                    <li class="header_list_items">
                        <a class="header_nav_link" href="/">
                            LA FORMATION
                        </a>
                    </li>
                    <li class="header_list_items">
                        <a class="header_nav_link" href="/">
                            LES ETUDIANTS
                        </a>
                    </li>
                    <li class="header_list_items">
                        <a class="header_nav_link" href="/">
                            ACTUALITES
                        </a>
                    </li>
                    <li class="header_list_items">
                        <a class="header_nav_link" href="/">
                            NOUS CONTACTER
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>

    </main>
    <!-- ======== FOOTER ======== -->
    <footer class="container">
        <div class="content_footer">
            <adress class="container_list_adress">
                <ul class="list_adress">
                    <li class="item_list_adress">Développeur Web et Web Mobile</li>
                    <li class="item_list_adress">CEFIM</li>
                    <li class="item_list_adress">32 Avenue Marcel Dassault</li>
                    <li class="item_list_adress">37200 Tours</li>
                    <li class="item_list_adress"><a href="tel:024402680">T : 02 47 40 26 80</a></li>
                </ul>
            </adress>
            <ul class="list_mention">
                <li><a href="" class="list_mention_link">Mentions légales</a></li>
                <li><a href="" class="list_mention_link">Politique de confidentialité</a></li>
            </ul>
            <ul class="list_social">
                <li class="item_list_social"><a href=""><img src="../assets/home/icon/facebook.svg" alt="icon facebook"></a></li>
                <li class="item_list_social"><a href=""><img src="../assets/home/icon/twitter.svg" alt="icon twitter"></a></li>
                <li class="item_list_social"><a href=""><img src="../assets/home/icon/linkedin.svg" alt="icon linkedin"></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>