<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/module_formation/style.css">
<title>Module Formation</title>
</head>
<body class="container">
    <!-- ======== HEADER ======== -->
    <header class="container">
       
    </header>
    <main class="container">
        <section class="container_contain container">
            <img src="/assets/home/picture/Code_bottom.png" srcset="/assets/home/picture/Code_bottom_2x.png 2x" alt="image de lignes de code" class="bg_img">
            <h1 class="title_bg">Module HTML / CSS</h1>
            <p class="text_bg"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae ultricies leo integer malesuada. Ac odio tempor orci dapibus ultrices in. Egestas diam in arcu cursus euismod. Dictum fusce ut placerat orci nulla. Tincidunt ornare massa eget egestas purus viverra accumsan in nisl. Tempor id eu nisl nunc mi ipsum faucibus. Fusce id velit ut tortor pretium. Massa ultricies mi quis hendrerit dolor magna eget. Nullam eget felis eget nunc lobortis. Faucibus ornare suspendisse sed nisi. Sagittis eu volutpat odio facilisis mauris sit amet massa. Erat velit scelerisque in dictum non consectetur a erat. Amet nulla facilisi morbi tempus iaculis urna. Egestas</p>
        </section>
    </main>
    <!-- ======== FOOTER ======== -->
    <footer class="container">

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/node_modules/@lhommenul/slider/slider.js"></script>
    <script src="/js/template.mjs"></script>
    <script src="/js/hamburger.js"></script>
</body>
</html>
