
/* main */
main{
    grid-column: 1/4;
    /* width: 100%; */
}

/* ===== SECTION HEADER ===== */
.section_top_home{
    max-height: 44.4em;
    grid-column: 1/4;
}
    .background_image_header_section{
        width: 100%;
        height: 100%;
        grid-column: 1/4;
        grid-row: 1;
        object-fit:cover;
    }
    .bubble{
        justify-self: flex-end;
        align-self: center;
        grid-column: 1/4;
        grid-row: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
        .bubble_black{
            background-color: rgba(0, 0, 0, 0.5);
            color: var(--bg_white);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1em 0em;
            min-width: 100%;
            text-align: center;
        }
            .bubble_title{
                margin: 0.5em;
                margin-left: 0px;
                margin-right: 0px;
            }
            .bubble_btn_redirect{
                text-decoration: none;
                padding: 0.8em 1.3em;
                background-color: var(--bg_orange);
                color: var(--bg_white);
            }

/* ===== SECTION ACTU ===== */

.section_actu{
    grid-column: 2;
    background-color: var(--bg_white);
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .section_actu_title{
        margin-top: 1em;
        text-align: center;
    }
    .actu_list_tiems{
        display: grid;
        grid-template-rows: repeat(3,1fr);
        gap: 2em;
        margin: 2em 0em;
    }

/* ===== SECTION MEETING ===== */
.section_meeting{
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg_orange);
}
    .section_meeting_title{
        text-align: center;
        color: var(--bg_white);
        margin: 1em 0px;
    }
    .list_meeting{
        display: grid;
        grid-template-rows: repeat(4,1fr);
        gap: 2em;
        margin-bottom: 2.5em;
    }
        .card_student{
            text-align: center;
            color: var(--bg_white);
            display: grid;
            grid-template-rows: repeat(3,auto);
            row-gap: 1.25em;
        }
            .student_name{

            }
            .student_link{
                color: var(--bg_white);
            }
/* ===== SECTION MODULE ===== */
.section_module{
    grid-column: 2;
    margin-bottom: 2.5em;
}
    .module_title{
        margin: 1.5em 0px;
        text-align: center;
    }
    .list_card_module{
        display: grid;
        grid-template-rows: 1fr 1fr;
        column-gap:2em; 
    }

/*  425px */
@media screen and (min-width:26.56rem) {
    .bubble_title{
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}
