/*  320px */
@media screen and (min-width:20rem) {

}
/*  375px */
@media screen and (min-width:23.43rem) {
    html{
        font-size: 100%;
    }
}
/*  425px */
@media screen and (min-width:26.56rem) {

}
/*  768px */
@media screen and (min-width:48rem) {
    .card{
        place-self: center;
        max-width: 70%;
    }
    .list_meeting{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 8rem;
    }
}
/*  1024px */
@media screen and (min-width:64rem) {
    .list_meeting{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,1fr);
    }
    .actu_list_tiems{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
        .card{
            max-width: 100%;
        }
    .list_card_module{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
    }
}
/*  1440px */
@media screen and (min-width:90rem) {
    main{
        grid-column: 1/4;
    }
    .section_meeting{
        grid-column: 1/4;
    }
    .bubble{
        grid-column: 2;
        display: grid;
        grid-template-columns: auto 60%;
    }
        .bubble_black{
            grid-column: 2;
        }
    .actu_list_tiems{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
    }
    .list_meeting{
        max-width: 100%;
        grid-template-columns: repeat(4,1fr);

    }
}
@media screen and (min-width:120em){
    .section_actu{
        grid-column: 2;
    }
    .section_module{
        grid-column: 2;
    }
}
/*  2560px */
@media screen and (min-width:160rem) {

}