main{
    grid-column: 2;
}
    .section_student{
        grid-column: 2;
        margin-bottom: 5.625em;
    }
        .title_student{
            margin: 2.5rem 0em;
            text-align: center;
        }
        .list_meeting{
            padding: 4em 0em;
            place-self: center;
            grid-column: 1/4;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 4em;
        }
            .card_student{
                display: grid;
                grid-template-rows: repeat(3,auto);
                row-gap: 1em;
                justify-content: center;
                align-content: center;
                text-align: center;
            }
                .student_link{
                    text-decoration: underline;
                    color: var(--bg_orange);
                }
                .control{
                    margin-top: 2.5em;
                }


/*  320px */
@media screen and (min-width:20rem) {

}
/*  375px */
@media screen and (min-width:23.43rem) {

}
/*  425px */
@media screen and (min-width:26.56rem) {
    .list_meeting{
        grid-template-columns: repeat(2,1fr);
    }
}
/*  768px */
@media screen and (min-width:48rem) {
    .list_meeting{
        grid-template-columns: repeat(3,0.7fr);
    }
}
/*  1024px */
@media screen and (min-width:64rem) {
    .list_meeting{
        grid-template-columns: repeat(3,1fr);
    }
}
/*  1440px */
@media screen and (min-width:90rem) {
    .list_cards_actu{
        grid-template-columns: repeat(4,1fr);
    }
    .list_meeting{
        grid-template-columns: repeat(4,1fr);
    }
}
/*  2560px */
@media screen and (min-width:160rem) {

}